<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9978">  <td>20/09/10 11:41:08</td>   <td>0</td> <td title="&lt;&lt;FunctionalTest.cleanUp()[pri:0, instance:org.montier.qa.automation.tests.APICScenario@5a18cd76]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15024899</td>   <td></td> </tr>
<tr bgcolor="9d9978">  <td>20/09/10 11:40:59</td>   <td>-9178</td> <td title="&gt;&gt;FunctionalTest.initAndLogin(org.testng.ITestContext)[pri:0, instance:org.montier.qa.automation.tests.APICScenario@5a18cd76]">&gt;&gt;initAndLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15024899</td>   <td></td> </tr>
</table>
