<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:18:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario04_APIErrorInvestigator.APIC()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">APIC</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="ffe6dc">  <td>20/10/25 13:16:01</td>   <td>-156709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario03_APIError.APIError()[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">APIError</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:20:06</td>   <td>88259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario04_APIErrorInvestigator.IDG()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">IDG</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>20/10/25 13:12:16</td>   <td>-381280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario01_IDGBackEndLatency.IDGBackEndLatency()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">IDGBackEndLatency</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="689daf">  <td>20/10/25 13:13:40</td>   <td>-297685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario02_IDGSideCallLatency.IDGSideCallLatency()[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">IDGSideCallLatency</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="e965f5">  <td>20/10/25 13:23:27</td>   <td>289423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario06_MajorOutOfService.MajorOutOfService()[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">MajorOutOfService</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="f2bbc1">  <td>20/10/25 13:22:00</td>   <td>202456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario05_MalfunctioningServices.MalfunctioningServices()[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">MalfunctioningServices</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:28:17</td>   <td>579403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario11_APICLatencyProblems.SlowlatenciesCase_1()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">SlowlatenciesCase_1</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:24:24</td>   <td>346495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.TransactionsFaultyApplicativeReply5()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">TransactionsFaultyApplicativeReply5</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:25:36</td>   <td>418844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.TransactionsMissingField_4()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">TransactionsMissingField_4</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:30:23</td>   <td>705229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario11_APICLatencyProblems.VariableLatenciesCase_2()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">VariableLatenciesCase_2</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:13:29</td>   <td>-308376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:15:52</td>   <td>-165469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:17:45</td>   <td>-52598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:19:52</td>   <td>74540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:21:27</td>   <td>169790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:19</td>   <td>281078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:53</td>   <td>315725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:25:21</td>   <td>403059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:01</td>   <td>443139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:38</td>   <td>479917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:11</td>   <td>513704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:46</td>   <td>548611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:30:09</td>   <td>691766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:31:33</td>   <td>775537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:18:18</td>   <td>-19626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario04_APIErrorInvestigator.before()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:20:06</td>   <td>88259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario04_APIErrorInvestigator.before()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:11:51</td>   <td>-406710</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:13:30</td>   <td>-307261</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:15:53</td>   <td>-164131</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:17:46</td>   <td>-51562</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:21:28</td>   <td>170820</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:20</td>   <td>282138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:54</td>   <td>316754</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:47</td>   <td>549663</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:11:51</td>   <td>-406706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:13:30</td>   <td>-307260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:15:53</td>   <td>-164131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:17:53</td>   <td>-45070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:19:53</td>   <td>75572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:21:35</td>   <td>177120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:20</td>   <td>282139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:24:05</td>   <td>327007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:25:22</td>   <td>404117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:02</td>   <td>444178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:39</td>   <td>480974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:12</td>   <td>514759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:28:07</td>   <td>569094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:30:10</td>   <td>692822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:31:34</td>   <td>776703</td> <td title="&lt;&lt;FunctionalTest.cleanUp()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>20/10/25 13:12:16</td>   <td>-381369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario01_IDGBackEndLatency.deleteExistingAlerts()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;deleteExistingAlerts</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:18</td>   <td>459951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.earlyFailingInvalidOAuthscope_2()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">earlyFailingInvalidOAuthscope_2</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:58</td>   <td>500130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.earlyFailingScopeForbidden_3()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">earlyFailingScopeForbidden_3</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:27:30</td>   <td>532293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.earlyFailingWrongURL_1()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">earlyFailingWrongURL_1</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:23:54</td>   <td>316754</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.enterAPIC()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;enterAPIC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:27:52</td>   <td>554886</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario11_APICLatencyProblems.enterAPIC()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;enterAPIC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:11:41</td>   <td>-416710</td> <td title="&gt;&gt;FunctionalTest.initAndLogin(org.testng.ITestContext)[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;initAndLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:24:17</td>   <td>339647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:25:31</td>   <td>413399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:11</td>   <td>453759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:52</td>   <td>494714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:27:24</td>   <td>526881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:28:17</td>   <td>579403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario11_APICLatencyProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:30:23</td>   <td>705229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario11_APICLatencyProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
</table>
