<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7de877">  <td>20/10/25 13:11:41</td>   <td>0</td> <td title="&gt;&gt;FunctionalTest.initAndLogin(org.testng.ITestContext)[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;initAndLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:11:51</td>   <td>10000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:11:51</td>   <td>10004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>20/10/25 13:12:16</td>   <td>35341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario01_IDGBackEndLatency.deleteExistingAlerts()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&gt;&gt;deleteExistingAlerts</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="67eb8a">  <td>20/10/25 13:12:16</td>   <td>35430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario01_IDGBackEndLatency.IDGBackEndLatency()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">IDGBackEndLatency</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:13:29</td>   <td>108334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:13:30</td>   <td>109449</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:13:30</td>   <td>109450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="689daf">  <td>20/10/25 13:13:40</td>   <td>119025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario02_IDGSideCallLatency.IDGSideCallLatency()[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">IDGSideCallLatency</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:15:52</td>   <td>251241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario02_IDGSideCallLatency@2c35e847]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:15:53</td>   <td>252579</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:15:53</td>   <td>252579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="ffe6dc">  <td>20/10/25 13:16:01</td>   <td>260001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario03_APIError.APIError()[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">APIError</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:17:45</td>   <td>364112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario03_APIError@7bd4937b]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:17:46</td>   <td>365148</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:17:53</td>   <td>371640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:18:18</td>   <td>397084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario04_APIErrorInvestigator.before()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:18:38</td>   <td>416710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario04_APIErrorInvestigator.APIC()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">APIC</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:19:52</td>   <td>491250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:19:53</td>   <td>492282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:20:06</td>   <td>504969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario04_APIErrorInvestigator.before()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="917cb2">  <td>20/10/25 13:20:06</td>   <td>504969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario04_APIErrorInvestigator.IDG()[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">IDG</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:21:27</td>   <td>586500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario04_APIErrorInvestigator@21e360a]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:21:28</td>   <td>587530</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:21:35</td>   <td>593830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="f2bbc1">  <td>20/10/25 13:22:00</td>   <td>619166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario05_MalfunctioningServices.MalfunctioningServices()[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">MalfunctioningServices</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:19</td>   <td>697788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario05_MalfunctioningServices@5ba3f27a]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:20</td>   <td>698848</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:20</td>   <td>698849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="e965f5">  <td>20/10/25 13:23:27</td>   <td>706133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario06_MajorOutOfService.MajorOutOfService()[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">MajorOutOfService</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:53</td>   <td>732435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario06_MajorOutOfService@58d75e99]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:23:54</td>   <td>733464</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:23:54</td>   <td>733464</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.enterAPIC()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;enterAPIC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:24:05</td>   <td>743717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:24:17</td>   <td>756357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:24:24</td>   <td>763205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.TransactionsFaultyApplicativeReply5()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">TransactionsFaultyApplicativeReply5</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:25:21</td>   <td>819769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:25:22</td>   <td>820827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:25:31</td>   <td>830109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:25:36</td>   <td>835554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.TransactionsMissingField_4()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">TransactionsMissingField_4</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:01</td>   <td>859849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:02</td>   <td>860888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:11</td>   <td>870469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:18</td>   <td>876661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.earlyFailingInvalidOAuthscope_2()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">earlyFailingInvalidOAuthscope_2</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:38</td>   <td>896627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:26:39</td>   <td>897684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:52</td>   <td>911424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:26:58</td>   <td>916840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.earlyFailingScopeForbidden_3()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">earlyFailingScopeForbidden_3</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:11</td>   <td>930414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:12</td>   <td>931469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:27:24</td>   <td>943591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario10_APICConnectProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>20/10/25 13:27:30</td>   <td>949003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario10_APICConnectProblems.earlyFailingWrongURL_1()[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">earlyFailingWrongURL_1</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:46</td>   <td>965321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario10_APICConnectProblems@74751b3]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:27:47</td>   <td>966373</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeClass()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:27:52</td>   <td>971596</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario11_APICLatencyProblems.enterAPIC()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;enterAPIC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:28:07</td>   <td>985804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:28:17</td>   <td>996113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario11_APICLatencyProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:28:17</td>   <td>996113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario11_APICLatencyProblems.SlowlatenciesCase_1()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">SlowlatenciesCase_1</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:30:09</td>   <td>1108476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:30:10</td>   <td>1109532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FunctionalTest.beforeTest(java.lang.reflect.Method)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:30:23</td>   <td>1121939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario11_APICLatencyProblems.openTransactionsAndClean()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&gt;&gt;openTransactionsAndClean</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="779568">  <td>20/10/25 13:30:23</td>   <td>1121939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario11_APICLatencyProblems.VariableLatenciesCase_2()[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">VariableLatenciesCase_2</td> 
  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:31:33</td>   <td>1192247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FunctionalTest.after(org.testng.ITestResult)[pri:0, instance:org.montier.qa.automation.tests.Scenario11_APICLatencyProblems@741a8937]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
<tr bgcolor="7de877">  <td>20/10/25 13:31:34</td>   <td>1193413</td> <td title="&lt;&lt;FunctionalTest.cleanUp()[pri:0, instance:org.montier.qa.automation.tests.Scenario01_IDGBackEndLatency@7c24b813]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@658404420</td>   <td></td> </tr>
</table>
